{% extends 'main.html' %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/claiming1.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>{% block title %}Claim{% endblock %}</title>

<div class="claim-body">
  <div class="container">
    <div class="searchBox">
      <form action="/search/" method="GET" class="search-form">
        <div class="search-bar">
          <h2>Search:</h2>
          <input placeholder="Search" type="search" name="q" class="left" />
        </div>
      </form>  
    </div>

    <div class="column">
      <div class="filter">
        <form method="GET" action="{% url 'claim_page' %}" id="statusFilterForm" class="claim-form">
          <div class="claim-status">
            <label for="is_claimed">Claimed:</label>
            <select name="is_claimed" id="is_claimed" onchange="document.getElementById('statusFilterForm').submit()">
              <option value="all" {% if request.GET.is_claimed == 'all' %}selected{% endif %}>All</option>
              <option value="claimed" {% if request.GET.is_claimed == 'claimed' %}selected{% endif %}>Claimed</option>
              <option value="not_claimed" {% if request.GET.is_claimed == 'not_claimed' %}selected{% endif %}>Not Claimed</option>
            </select>
          </div>
        </form>
      </div>

      <div class="brgy">
        <a href="{% url 'claim_summary_page' %}" class="verify-btn">
          <i class="fas fa-circle-check"></i> View Summary
        </a>
      </div>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Middle Initial</th>
          <th>Suffix</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for senior in seniors %}
          {% if not senior.deletion_reason %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ senior.last_name }}</td>
              <td>{{ senior.first_name }}</td>
              <td>{{ senior.middle_name }}</td>
              <td>{{ senior.suffix }}</td> 
              <td>
                {% if senior.status %}
                  Active
                {% else %}
                  Inactive
                {% endif %}
              </td>
              <td>
                {% if senior.is_claimed %}
                  <a href="/match/{{ senior.id }}" class="claimed-btn">Claimed</a>              
                {% else %}
                <button class="claim-btn" onclick="console.log('senior.senior_image:', '{{ senior.senior_image }}'); checkImage('{{ senior.id }}', '{% if senior.senior_image and senior.senior_image.url %}true{% else %}false{% endif %}')">Claim</button>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>

      <div class="nopicture-container" id="addPictureModal">
        <div class="nopicture-modal-content">
        <div class="nopictureHeader">

        </div>
          <div class="modalBodyy">
            <p>Senior has no picture. Do you want to add a picture first?</p>
            <div class="btn-btn">
              <a onclick="addpicture()">Add Picture</a>
              <button onclick="closeAddPopup()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </table>
  </div>

  <script>
    function checkImage(seniorId, hasImage) {
        if (hasImage === 'false') {
            openAddPictureModal(seniorId);
        } else {
            window.location.href = '/claim_detail_page/' + seniorId + '/';
        }
    }
    function openAddPictureModal(seniorId) {
        var addPictureModal = document.getElementById('addPictureModal');
        addPictureModal.style.display = 'block';
        console.log('Opening modal for senior ID:', seniorId);
        window.currentSeniorId = seniorId;
    }

    function addpicture() {
    var seniorId = window.currentSeniorId;
    console.log('Adding picture for senior ID:', seniorId);
    window.location.href = '/edit_claim/' + seniorId;
  }


    function closeAddPopup() {
        var addPictureModal = document.getElementById('addPictureModal');
        addPictureModal.style.display = 'none';
    }
</script>
  
</div>

{% endblock content %}
