
<html>
  {%load static%} 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media='screen' href="{% static 'styles/index2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Log In</title>
    </head>
        <body>
            <div class="background-container">
                <div class="background"></div>
            </div>
        
            <div class="login-container">
                <div class="admin-link">
                    <a href="admin/">Admin</a>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="loginpage">
                        <img class="senior" src="{% static 'image/senior_care_logo.png'%}" alt="senior care logo">
                        <img class="avatar" src="{% static 'image/user_avatar.png'%}" alt="user avatar">
                        <div class="loginput">
                            <input type="text" class="username" name="username" placeholder="Username" required>
                            <input type="password" class="password" name="password" placeholder="Password" required>
                            <input type="submit" class="login" value="Log in">
                        </div>
                    </div>
                </form>
            </div>

          <div class="overlay" id="overlay">
            <div class="overlay-content">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button onclick="closeOverlay()">Close</button>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var images = ['/static/image/1.jpg', '/static/image/2.jpg', '/static/image/3.jpg'];
                var index = 0;
                var backgroundElement = document.querySelector('.background');
        
                function changeBackground() {
                    backgroundElement.style.backgroundImage = 'url(' + images[index] + ')';
                    index = (index + 1) % images.length;
                }
        
                // Call changeBackground to set the initial background
                changeBackground();
        
                // Call changeBackground again to make it change immediately upon loading
                changeBackground();
        
                // Set up the interval for background change
                setInterval(changeBackground, 3000);
            });
        
            // Function to close the overlay
            function closeOverlay() {
                document.getElementById('overlay').style.display = 'none';
            }
        
            // Display the overlay when there are messages
            {% if messages %}
                document.getElementById('overlay').style.display = 'flex';
            {% endif %}
        </script>
        </body>
</html>



