{% extends 'main.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{% static 'styles/update_viewinfo_page1.css' %}"
/>
<script defer src="{% static 'js/update_viewpage.js' %}"></script>

<body>
  <div class="container">
    <div class="inner">
      <form method="POST">
        {% csrf_token %}

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Firstname"
            placeholder="First Name"
            value="{{ seniors.first_name}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Lastname"
            placeholder="Last Name"
            value="{{ seniors.last_name}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Middlename"
            placeholder="Middle Name"
            value="{{ seniors.middle_name}}"
            disabled
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="Suffix"
            placeholder="Suffix"
            value="{{ seniors.suffix}}"
            disabled
          />
          <input
            name="sex"
            id="sex"
            class="form-control"
            value="{{ seniors.sex}}"
            disabled
          />
        </div>

        <div class="form-group1">
          <input
            type="text"
            class="form-control"
            name="Birthdate"
            placeholder="Birth date: dd-mm-yyyy"
            value="{{ seniors.birth_date}}"
            disabled
          />
          <input
            type="number"
            class="form-control"
            name="Age"
            placeholder="Age"
            value="{{ seniors.age}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Adress"
            placeholder="Address"
            value="{{ seniors.address}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Contact No."
            placeholder="Address"
            value="{{ seniors.phone_number}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="OSCA_ID"
            placeholder="OSCA_ID"
            value="{{ seniors.OSCA_ID  }}"
            disabled
          />
        </div>

        <div class="btn-container">
          <a href="/edit/{{seniors.id}}" class="btn-edit">Edit</a>
          <button type="button" class="btn-delete" onclick="showConfirmation()">
            Delete
          </button>

          <a href="/update_page/" class="btn-cancel">Back</a>
        </div>
      </form>

      <div class="pic-container">

      <div class="new-container">
      {% if seniors.senior_image %}
      <div class="photo-holder">
        <img src="{{ seniors.senior_image.url }}" alt="profile" />
      </div>
      {% else %}
      <div class="photo-holder">
        <img src="{% static 'image/profile.png' %}" alt="profile" />
      </div>
      {% endif %}
      </div>
      
      <div class="added-info">
        <div class="status">
            <p>Status:</p>
        </div>
        <div class="created">
            <p>Creation Date: <span class="info">{{ seniors.created|date:"M d, Y"}}</span></p>
        </div>
        <div class="claim">
            {% if seniors.claimed_date %}
                <p>Last Claim Date: <span class="info">{{ seniors.claimed_date|date:"M d, Y" }}</span></p>
            {% else %}
                <p>Last Claim: <span class="info">none</span></p>
            {% endif %}
        </div>
      </div>

    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="confirmation-popup" class="confirmation-popup">
        <div class="header"></div>
        <div class="popup-body">
          <form method="POST" action="{% url 'delete' seniors.id %}" id="deletionForm">
            {% csrf_token %}
        
            <input type="hidden" name="selected_deletion_reason" id="selected_deletion_reason" value="">
            
            <p>What is the reason for deleting this information?</p><br>
            <div class="delete-reasons">
                <label>
                    <input type="radio" name="deletion_reason" value="deceased" onclick="updateActiveStatusAndSubmit('The person is deceased')"> The person is deceased
                </label><br>
                <label>
                    <input type="radio" name="deletion_reason" value="inactive" onclick="updateActiveStatusAndSubmit('The person no longer resides in Manila')"> The person no longer resides in Manila
                </label><br>
            </div>
            <div class="confirm-delete">
                <button type="submit" id="btn-delete" class="btn-delete1">Yes</button>
                <a onclick="hideConfirmation()" class="btn-cancel1">Cancel</a>
            </div>
        </form>
        </div>
    </div>


    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function updateActiveStatusAndSubmit(reason) {
      console.log('Reason:', reason);
      document.getElementById('selected_deletion_reason').value = reason;
      console.log('Form Value:', document.getElementById('selected_deletion_reason').value);
    }

    function hideConfirmation() {
      // Add logic to hide the confirmation popup if needed
    }
  </script>
</body>
{% endblock content%}
