{% extends 'main.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{% static 'styles/update_viewinfo_page1.css' %}"
/>
<script defer src="{% static 'js/update_viewpage.js' %}"></script>

<body>
  <div class="container">
    <div class="inner">
      <form method="POST">
        {% csrf_token %}

        <div class="head-container">
          <div class="img">
              {% if seniors.senior_image %}
              <div class="photo-holder">
                  <img src="{{ seniors.senior_image.url }}" alt="profile">
              </div>
              {% else %}
              <div class="photo-holder">
                  <img src="{% static 'image/profile.png' %}" alt="profile">
              </div>
              {% endif %}
          </div>
          <div class="detail-column">
              <div class="display-form">
                  <label>Last Name</label>
                  <input value="{{ seniors.last_name}}" disabled>
              </div>
      
              <div class="display-form">
                  <label>First Name</label>
                  <input value="{{ seniors.first_name}}"  disabled>
              </div>
      
              <div class="display-form">
                  <label>Middle Name</label>
                  <input value="{{ seniors.middle_name}}"  disabled>
              </div>
          </div>
          </div>

          <div class="detail-column4">
            <div class="display-form">
                <label>Suffix</label>
                <input value="{{ seniors.suffix}}" disabled>
            </div>
            <div class="display-form">
            <label>Age</label>
                <input value="{{ seniors.age}}" disabled>
            </div>
    
            <div class="display-form">
                <label>Gender</label>
                <input value="{{ seniors.sex}}" disabled>
            </div>
        </div>

        <div class="detail-column1">

          <div class="display-form">
              <label>Birthdate</label>
              <input value="{{ seniors.birth_date}}" disabled>
          </div>

          <div class="display-form">
              <label>Phone no.</label>
              <input value="{{ seniors.phone_number}}"  disabled>
          </div>
      </div>

      <div class="detail-column2">
          <div class="display-form">
              <label>ID</label>
              <input  value="{{ seniors.OSCA_ID}}" disabled>
          </div>
  
          <div class="display-form">
              <label>Address</label>
              <input  value="{{ seniors.address}}" disabled>
          </div>
      </div>
      

        <div class="btn-container">
          <a href="/edit/{{seniors.id}}" class="btn-edit">Edit</a>
          <a href="#" class="btn-delete" onclick="showConfirmation()">
            Delete
          </a>
          <a href="/update_page/" class="btn-cancel">Back</a>
        </div>
      </form>
    </div>

    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="confirmation-popup" class="confirmation-popup">
        <div class="header"></div>
        <div class="popup-body">
          <form method="POST" action="{% url 'delete' seniors.id %}" id="deletionForm">
            {% csrf_token %}
        
            <input type="hidden" name="selected_deletion_reason" id="selected_deletion_reason" value="">
            
            <p>What is the reason for deleting this information?</p><br>
            <div class="delete-reasons">
              <label>
                <input type="radio" name="deletion_reason" value="deceased" onclick="toggleTextInput(false); updateActiveStatusAndSubmit('The person is deceased')"> The person is deceased
              </label><br>
              <label>
                <input type="radio" name="deletion_reason" value="inactive" onclick="toggleTextInput(false); updateActiveStatusAndSubmit('The person no longer resides in Manila')"> The person no longer resides in Manila
              </label><br>
              <label>
                <input type="radio" name="deletion_reason" value="custom_reason" onclick="toggleTextInput(true)"> Other
              </label><br>
            
              <div id="customReasonInput" style="display: none;">
                <label for="custom_reason">Custom Reason:</label>
                <input type="text" name="custom_reason" id="custom_reason" onchange="updateActiveStatusAndSubmit(this.value)">
              </div>
            </div>
            <div class="confirm-delete">
                <button type="submit" id="btn-delete" class="btn-delete1">Yes</button>
                <a onclick="hideConfirmation()" class="btn-cancel1">Cancel</a>
            </div>
        </form>
        </div>
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function updateActiveStatusAndSubmit(reason) {
      console.log('Reason:', reason);
      document.getElementById('selected_deletion_reason').value = reason;
      console.log('Form Value:', document.getElementById('selected_deletion_reason').value);
    }

    function hideConfirmation() {
      // Add logic to hide the confirmation popup if needed
    }

    function toggleTextInput(showCustomReason) {
    var customReasonInput = document.getElementById("customReasonInput");
    customReasonInput.style.display = showCustomReason ? "block" : "none";
  }
  </script>
</body>
{% endblock content%}
