

.preview-container{
  max-width: 750px;
  margin: 50px auto;
  background-color: #fff;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-holder {
  width: 270px; 
  height: 255px; 
  overflow: hidden; 
  border: 2px solid black;
  border-radius: 10px;
}

.photo-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.display-form, label{
  background-color: transparent;
}

.detail-column{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  margin-top: 15px;
}

.detail-column1{
  background-color: transparent;
  display: flex;
  column-gap: 20px;
}

.detail-column2{
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.detail-column3{
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 20px;
}


.detail-column4{
  background-color: transparent;
  display: flex;
  column-gap: 20px;
}

.display-form{
  width: 100%;
  margin-top: 15px;
}

.display-form label{
  color: black;
  margin-left: 5px;
  font-size: 17px;
}

.display-form input{
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: white;
  outline: none;
  border: 1px solid black;
  font-size: 20px;
}

.btn-preview {
  text-align: right;
  margin-top: 20px;
}

.btn-preview a {
  display: inline-block;
  text-decoration: none;
  background-color: #7895CB;
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: .2s ease;
}

.btn-preview a i{
  font-size: 16px;
  margin-left: 5px;
}

.btn-preview a:hover {
  background-color:#4A55A2;
}

@media (max-width: 500px)
{
  .preview-container{
    max-width: 95vw;
    margin: 20px auto;
    padding: 20px;
  }

  .head-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  
.detail-column{
  display: flex;
  flex-direction: column;
}

.display-form input{
  font-size: 17px;
}

.display-form label{
  font-size: 17px;
}

}




