.claim-body{
  position: absolute;
  width: 100vw;
  padding: 20px 40px;
  display: block;
  background: #7895CB;
  font-family: "Inter", Helvetica;
}

td a{
  padding: 15px;
  color:#4A55A2 ;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
.filter-con{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  margin-right: 20px;
  
}
.search-bar input{
  width: 100%;
  height: 39px;
  margin-top: -5px;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.search-bar h2{
  font-size: 17px;
  display: block;
    color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.addButton{
  width: 100%;
  padding: 9px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 10px;
  background-color: white;
}

.footer{
  display: flex;
  justify-content: space-between;
}
  .status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }


form {
    display: flex;
    padding-top: 7px;
    justify-content: center;
    align-items: center;
}

.legend-container{
  display: block;
  background: #c5d5e7;
  padding: 10px;
  height: 60px;
  border-radius: 7px;
  margin-top: 15px;
}




label , .search-bar h2 {
  display: block;
    color: white;
}

select {
    padding: 9px;
    padding-right: 50px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 10px;
}

select option {
  background: white; 
  color: #000000; 
  padding: 10px;
}

select option:hover {
  background: #C5DFF8; 
}



.legend-container h1{
  font-size: 15px;
  border-bottom: 1px solid black;
}

.legend {
  display: flex;
  justify-content: space-evenly;
}
.active-legend{
  font-size: 15px;
  margin-right: 10px;
}

.inactive-legend{
  font-size: 15px;
}

.active-legend i{
  color: green;
}

.inactive-legend i{
  color: red;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}



.modalBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
}

.closeModalBtn{
  position: absolute;
  right: 15px;
  top: 20px;
  background-color: transparent;
  border: none;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
  border-radius: 10px;
}

.modalHeader{
  background: #7895CB;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}

.modalBody{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
}

#addSeniorForm{
  margin: 0;
  padding: 0;
}

.modalBody label{
  color: #000000;
  margin: 5px 0;
}

.modalInput {
  position: relative;
  display: inline-block;
}

.oscaIdInput {
  padding-right: 30px; 
  outline: none;
  font-size: 20px;
}

.oscaIdInput,
.modalInput button {
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px; /* Adjust the height as needed */
}

.modalInput button i{
  font-size: 20px;
  padding: 0 5px;
}

.error-message{
  color: red;
  margin-top: 5px;
}

.result-message{
  color: #000000;
  margin-top: 5px;
}

.info-link{
  color: #4A55A2;
}

.modalInput button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #7895CB;
  cursor: pointer;
}

.modalButton{
  display: flex;
  position: relative;
  justify-content: end;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.modalButton button{
  background: #656669;
  border: 1px solid ;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.modalButton button:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #7895CB;
  cursor: pointer;
  box-shadow: none;

}


.table-container {
  width: 100%; 
  height: 25rem; 
  overflow: auto;
  position: relative;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  letter-spacing: .5px;

}

thead {
  position: sticky; 
  top: 0;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: center;

}

th{
  background: #4A55A2;
  color: white;
  font-weight: 300;
}
tr:nth-child(odd) td{
  background-color: #A0BFE0;
}

tr:nth-child(even) td{
  background-color: #C5DFF8; 
}

.custom-checkbox{
  width: 34px;
  height: 26px;
  background-color: #4A55A2;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "\2713"; 
  font-size: 20px;
  font-weight: 700;
  padding: 1px 8px;
  color: transparent; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 5px;
}

.custom-checkbox:checked::before {
  color: white; 
  background-color: #21D01D;
}

.claim-btn{
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background: #A0BFE0;
  border: .5px solid black;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.claim-btn:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}

.button-container{
  margin-top: 30px;
  margin-bottom: 50px;
}


.button-container a{
  padding: 15px 50px;
  font-size: 22px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  border: 1px solid #A0BFE0;
  background-color: #A0BFE0;
  border-radius: 20px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.notify-btn{
  margin-right: 20px;
}

.cancel-btn{
  margin-right: 20px;
}

.button-container a i{
  background: transparent;
  padding-right: 15px;
  font-size: 22px;
  color: black;
}

.button-container .cancel-btn i{
  background: transparent;
  padding-right: 15px;
  font-size: 22px;
  color: red;
}
.button-container a:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}


@media(max-width: 1100px){
  .right {
      margin-top: 10px;
      font-size: 35px;
  }
}


@media(max-width: 790px){
      
  .right {
      display: none;
  }
}

@media(max-width: 700px){

  .search-bar i {
      top: 10px;
      left: 15px;
      font-size: 20px;
    }

  .button-container .verify-btn{
      margin-top: -15px;
      padding: 10px 40px;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
  }

  .button-container .notify-btn{
      margin-top: -15px;
      padding: 10px 40px;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
  }
  
  .button-container .notify-btn i{
      padding-right: 10px;
      font-size: 22px;
  }

  .button-container .verify-btn i{
      padding-right: 10px;
      font-size: 22px;
  }

  table {
      font-size: 15px;
  }    
 
  th, td {
      padding: 12px;
  }

  .search-bar{
    margin-right: 20px;
    text-align: left;
    
  }
  .search-bar input{
    margin-top: -1px;
    padding-left: 5px;
    padding-right: 2px;
  }
}

@media(max-width: 500px){
  .search-bar h2 {
    display: none;
  }

  .container {
    margin-bottom: 20px;
  }
}

@media(max-width: 415px){


  .button-container .notify-btn{
      padding: 10px 35px;
      font-size: 18px;
  }

  .button-container .verify-btn{
      padding: 10px 35px;
      font-size: 18px;
  }

  .left {
      position: relative;
      font-size: 20px;
      top: 15px;
  }
}

@media(max-width: 375px){

  .button-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .button-container .notify-btn, .verify-btn{
      padding: 10px 90px;
      font-size: 15px;
  }

  .button-container .verify-btn{
      padding: 10px 90px;
      font-size: 15px;
  }

  .button-container button i{
      font-size: 15px;
      padding-right: 2px;
  }

  .notify-btn{
      margin-right: 0;
      margin-bottom: 30px;
  }
}
